Repository skkuding/skkuzzim: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: npx eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: npx prettier --check {staged_files}

chore: add frontend eslint config
  .eslintrc.js
  frontend/.eslintrc.cjs
  frontend/.prettierrc.json
Due: eslint, prettier

chore: add prettier and eslint ignore file
  .eslintignore
  .prettierignore
Due: none

chore: add vscode extension install guide
  CONTRIBUTING.md
Due: none

chore: add prettier and eslint config files (#35)
  .eslintignore
  .eslintrc.js
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  backend/.eslintrc.js
  backend/.prettierrc
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.module.ts
  backend/src/reservation/reservation.service.ts
  backend/test/app.e2e-spec.ts
  frontend/.eslintrc.cjs
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  package-lock.json
  package.json
Due: eslint, prettier

chore: update prettier ignore config file
  .prettierignore
Due: none

chore: migrate package manager npm to pnpm
  .npmrc
  backend/package-lock.json
  frontend/package-lock.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: fix a few commands
  backend/package.json
  frontend/package.json
  lefthook.yml
  package.json
Due: prettier

docs: update development env setting guide
  CONTRIBUTING.md
Due: none

chore: migrate package manager npm to pnpm (#36)
  .npmrc
  .prettierignore
  CONTRIBUTING.md
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: add creator column in reservation table (#33)
  backend/prisma/migrations/20230113073207_add_creator/migration.sql
  backend/prisma/schema.prisma
Due: none

refactor(fe): update text input
  frontend/src/components/TextInput.vue
Due: eslint, prettier

refactor(fe): apply appearance: none to input
  frontend/src/components/RadioGroup.vue
Due: eslint, prettier

delete package-lock.json
  backend/package-lock.json
Due: none

delete prisma/migrations
  backend/prisma/migrations/20230110062214_init/migration.sql
  backend/prisma/migrations/20230113073207_add_creator/migration.sql
  backend/prisma/migrations/migration_lock.toml
Due: none

refactor: run prettier on docker-compose file
  docker-compose.yml
Due: prettier

전체 예약정보 조회 완성
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.dto.ts
  backend/src/reservation/reservation.module.ts
  backend/src/reservation/reservation.service.ts
Due: eslint, prettier

change 'skku_d' to 'skkud'
  backend/src/reservation/reservation.service.ts
Due: eslint, prettier

fix: move typescript-eslint plugin to root
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

fix: delete unnecessary ignore pattern
  .eslintrc.js
Due: eslint, prettier

fix: resolve errors by duplicated typescript-eslint plugins (#38)
  .eslintrc.js
  docker-compose.yml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore: set all font size 16px
  frontend/src/styles/style.css
Due: prettier

refactor: remove conditional computed property
  frontend/src/components/Button.vue
  frontend/src/styles/theme.ts
Due: eslint, prettier

chore: remove unnecessary type in button props
  frontend/src/components/Button.vue
Due: eslint, prettier

chore(fe): delete package-lock.json
  frontend/package-lock.json
Due: none

refactor(fe): remove v-model, add width style
  frontend/src/components/TextInput.vue
Due: eslint, prettier

refactor(fe): update TIMES array
  frontend/src/components/Table.vue
Due: eslint, prettier

refactor(fe): fix TIMES array
  frontend/src/components/Table.vue
Due: eslint, prettier

Co-authored-by: Jisoo Park <jspark2000@users.noreply.github.com>
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.module.ts
  backend/src/reservation/reservation.service.ts
Due: eslint, prettier

chore: update git ignore file
  .gitignore
Due: none

전체 파일 prettier 적용
  .github/ISSUE_TEMPLATE/frontend-feature-dev.yml
  .prettierrc
  .vscode/settings.json
  backend/src/prisma/prisma.module.ts
  backend/src/prisma/prisma.service.ts
  frontend/src/main.ts
  frontend/src/pages/[id].vue
  frontend/src/pages/index.vue
  frontend/src/pages/select.vue
  frontend/src/stores/counter.ts
  frontend/src/styles/style.css
  frontend/src/styles/theme.ts
  frontend/vite.config.ts
  package.json
Due: eslint, prettier

change variable names
  backend/src/reservation/reservation.service.ts
Due: eslint, prettier

refactor(fe): change table component props
  frontend/src/components/Table.vue
Due: eslint, prettier

feat(fe): add radio group (#26)
  frontend/package.json
  frontend/src/components/RadioGroup.vue
Due: eslint, prettier

chore(fe): remove width: 100%
  frontend/src/components/TextInput.vue
Due: eslint, prettier

chore(fe): font family
  frontend/src/styles/style.css
Due: prettier

feat(fe): add text input (#31)
  frontend/src/components/TextInput.vue
  frontend/src/styles/style.css
Due: eslint, prettier

chore: remove white in color theme
  frontend/src/components/Button.vue
  frontend/src/styles/theme.ts
Due: eslint, prettier

feat(fe): add button (#20)
  .eslintrc.js
  .github/ISSUE_TEMPLATE/frontend-feature-dev.yml
  .prettierrc
  .vscode/settings.json
  frontend/.eslintrc.cjs
  frontend/src/components/Button.vue
  frontend/src/main.ts
  frontend/src/pages/[id].vue
  frontend/src/pages/index.vue
  frontend/src/pages/select.vue
  frontend/src/stores/counter.ts
  frontend/src/styles/style.css
  frontend/src/styles/theme.ts
  frontend/vite.config.ts
  package.json
Due: eslint, prettier

chore(fe): add lib to tsconfig
  frontend/tsconfig.app.json
Due: none

feat(fe): add time block
  frontend/src/components/TimeBlock.vue
Due: eslint, prettier
